.container {
    display: flex;
    gap: 5px;
    border: 1px solid;
    width: max-content;
    padding: 6px;
    margin-bottom: 11px;
}

.kutu1{
    background-color: red;
    width: 100px;
    height: 100px;
}

.kutu2{
    background-color: blue;
    width: 100px;
    height: 100px;
}